<a href="https://colab.research.google.com/github/owaisahmad315/pandas/blob/main/Data_Frame_Methods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
# The data for this section is sample retail sales data:
import pandas as pd
from io import StringIO
data = StringIO(
    '''UPC,Units,Sales,Date
    1234,5,20.2,1-1-2014
    1234,2,8.,1-2-2014
    1234,3,13.,1-3-2014
    789,1,2.,1-1-2014
    789,2,3.8,1-2-2014
    789,,,1-3-2014
    789,1,1.8,1-5-2014'''
)

sales = pd.read_csv(data)
sales

    UPC  Units  Sales      Date
0  1234    5.0   20.2  1-1-2014
1  1234    2.0    8.0  1-2-2014
2  1234    3.0   13.0  1-3-2014
3   789    1.0    2.0  1-1-2014
4   789    2.0    3.8  1-2-2014
5   789    NaN    NaN  1-3-2014
6   789    1.0    1.8  1-5-2014

In [6]:
# Data Frame Attributes
"""
Let's dig in a little more. We can examine the axes of a data frame by
looking at the .axes attribute:

"""
sales.axes

[RangeIndex(start=0, stop=7, step=1),
 Index(['UPC', 'Units', 'Sales', 'Date'], dtype='object')]

In [7]:
# The .axes is a list that contains the index and columns:
sales.index

RangeIndex(start=0, stop=7, step=1)

In [8]:
sales.columns

Index(['UPC', 'Units', 'Sales', 'Date'], dtype='object')

In [11]:
# The number of row and columns is also available via the .shape attribute:
sales.shape

(7, 4)

In [ ]:
sales.info

In [13]:
# Iteration
"""
Data frames include a variety of methods to iterate over the values. By
default, iteration occurs over the column names:

"""
for column in sales:
  print(column)

UPC
Units
Sales
Date

In [14]:
'''
The .iteritems method returns pairs of column names and the
individual column (as a Series):

'''
for col, ser in sales.iteritems():
  print(col, ser)

UPC 0    1234
1    1234
2    1234
3     789
4     789
5     789
6     789
Name: UPC, dtype: int64
Units 0    5.0
1    2.0
2    3.0
3    1.0
4    2.0
5    NaN
6    1.0
Name: Units, dtype: float64
Sales 0    20.2
1     8.0
2    13.0
3     2.0
4     3.8
5     NaN
6     1.8
Name: Sales, dtype: float64
Date 0    1-1-2014
1    1-2-2014
2    1-3-2014
3    1-1-2014
4    1-2-2014
5    1-3-2014
6    1-5-2014
Name: Date, dtype: object

<ipython-input-14-d89e00bf1c6e>:6: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col, ser in sales.iteritems():

In [21]:
'''
The .iterrows method returns a tuple for every row. The tuple has two
items. The first is the index value. The second is the row converted into a
Series object. This might be a little tricky in practice because a row's
values might not be homogenous, whereas that is usually the case in a
column of data. Notice that the dtype for the row series is object because
the row has strings and numeric values in it:


'''
for row in sales.iterrows():
  print(row)
  break # limit data

(0, UPC          1234
Units         5.0
Sales        20.2
Date     1-1-2014
Name: 0, dtype: object)

In [22]:
'''
The .itertuples method returns a namedtuple containing the index and
row values:

'''
for row in sales.itertuples():
  print(row)

Pandas(Index=0, UPC=1234, Units=5.0, Sales=20.2, Date='1-1-2014')
Pandas(Index=1, UPC=1234, Units=2.0, Sales=8.0, Date='1-2-2014')
Pandas(Index=2, UPC=1234, Units=3.0, Sales=13.0, Date='1-3-2014')
Pandas(Index=3, UPC=789, Units=1.0, Sales=2.0, Date='1-1-2014')
Pandas(Index=4, UPC=789, Units=2.0, Sales=3.8, Date='1-2-2014')
Pandas(Index=5, UPC=789, Units=nan, Sales=nan, Date='1-3-2014')
Pandas(Index=6, UPC=789, Units=1.0, Sales=1.8, Date='1-5-2014')