<a href="https://colab.research.google.com/github/owaisahmad315/pandas/blob/main/DataFrames.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
"""
Below is a simple attempt to create a tabular Python data structure that
is column oriented. It has an 0-based integer index, but that is not required,
the index could be string based. Each column is similar to the Series-like
structure developed previously:
"""

df = {
    'index': [0,1,2],
    'cols' : [
        {
            'name' : 'growth',
            'data' : [.5, .7, 1.2]
        },
        {
            'name': 'Name',
            'data' : ['Paul', 'George', 'Ringo']
        }
    ]
}

In [3]:
"""
Rows are accessed via the index, and columns are accessible from the
column name. Below are simple functions for accessing rows and
columns:

"""
def get_row(df, idx):
  results = []
  value_idx = df['index'].index(idx)
  for col in df['cols']:
    results.append(col['data'][value_idx])
  return results
get_row(df, 1)

[0.7, 'George']

In [4]:
def get_col(df, name):
  for col in df['cols']:
    if col['name'] == name:
      return col['data']
get_col(df, 'Name')

['Paul', 'George', 'Ringo']