<a href="https://colab.research.google.com/github/owaisahmad315/pandas/blob/main/series_CRUD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
import pandas as pd

In [20]:
# create
george_dupe = pd.Series([10,7,1,22],
                        index = ['1968', '1969', '1970', '1971'],
                        name = 'George Songs')
george_dupe

1968    10
1969     7
1970     1
1971    22
Name: George Songs, dtype: int64

In [21]:
# read
george_dupe['1969']

7

In [22]:
# loop over values
for item in george_dupe:
  print(item)

10
7
1
22

In [23]:
# To test a series for membership
# using set of the series
22 in set(george_dupe)
# using .value attribute
22 in george_dupe.values

True

In [24]:
"""
To iterate over the tuples containing both the index label and the value,
use the .iteritems method:
"""
for item in george_dupe.iteritems():
  print(item)

('1968', 10)
('1969', 7)
('1970', 1)
('1971', 22)

<ipython-input-24-5c0c074a92f0>:5: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for item in george_dupe.iteritems():

In [25]:
# Updating
"""
To update a value
for a given index label, the standard index assignment operation works and
performs the update in-place (in effect mutating the series):
"""

george_dupe['1968'] = 5
george_dupe

1968     5
1969     7
1970     1
1971    22
Name: George Songs, dtype: int64

In [26]:
"""
To update values based purely on position, perform an index assignment of
the .iloc attribute:

"""

george_dupe.iloc[3] = 22
george_dupe

1968     5
1969     7
1970     1
1971    22
Name: George Songs, dtype: int64

In [45]:
george_dupe.append(pd.Series({'1973': 9, '1974': 10} ))

<ipython-input-45-47d2af098048>:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  george_dupe.append(pd.Series({'1973': 9, '1974': 10} ))

1969      7
1970      1
1971     22
1974    111
1973      9
1974     10
dtype: int64

In [44]:
# set values using at method
george_dupe.at['1974'] = 111
george_dupe

1969      7
1970      1
1971     22
1974    111
Name: George Songs, dtype: int64

In [46]:
# Deletion
del george_dupe['1970']
george_dupe

1969      7
1971     22
1974    111
Name: George Songs, dtype: int64